// navbar needs being responsive

.navbar {
  display: flex;
  justify-content: space-between;
  
  .navbar__main-logo {
    width: 25rem;
    img {
      max-width: 100%;
    }
  }

  .navbar__sections {
    display: flex;
    align-items: center;
    gap: 3rem;
    .sections__text {
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  .user-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 1.5rem;
  }

}